{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
	<div class="container">
		<div class="row">
		{{ $paginator:= .Paginate .Data.Pages }}
		{{ range $paginator.Pages }}

		<!-- large card -->
		{{ if eq .Params.type "section" }}
			<div class="col-md-12 mb-5 wow fadeInDown" style="text-align: center;" data-wow-delay=".3s" data-wow-duration="500ms"> 
				<div class="card">
					<figure class="animated mb-0">
						<div class="img-wrapper">
							<div>
								{{ with .Params.image }}
								<img class="card-img-top" style="object-fit: contain; max-height: 500px;" src="{{ . | absURL }}" alt="Card image top" />
								{{ end }}
							</div>
							<div class="overlay">
								<div class="buttons">						
									{{ with .Permalink }}<a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue
									Reading</a>{{ end }}
								</div>
							</div>
						</div>
					</figure>
					<div class="card-body">
						<h1 class="card-title blog-content">{{ .Title }}</h1>
					</div>
				</div>
			</div>

		{{ else }}
				
			<!-- small card -->
			<div class="card-deck wow fadeInDown col-md-4 mx-auto" style="min-width: 350px; padding: 0 0 40px" data-wow-delay=".3s" data-wow-duration="500ms">
				<div class="card">
					<div class="blog-post-image">
						{{ with .Params.image }}
						<img class="card-img-top" style="object-fit: contain; max-height: 360px;" src="{{ . | absURL }}" alt="Card image cap">
						{{ end }}
					</div>
					<div class="card-body blog-content">
						<a href="{{ .Permalink }}"><h5 class="card-title">{{ .Title }}</h5></a>						
						<div class="card-text mb-1">
							{{ if isset .Params "date" }}
							<span>{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}</span> 
							{{ end }}
						</div>

						<div class="card-text mb-3">
							{{ if ne .Params.tags nil }}
							<span style="margin-right: 0.5rem;">Tags:  </span>
							{{ range .Params.tags }}
							<div class="badge badge-pill category-tag" style="color: #0043ae;">	
								<span> 
									{{ . }} 
								</span>
							</div>
							{{ end }}
						</div>
						{{ end }}
						<p class="card-text" style="text-align: justify; padding: 10px 0;">
							{{ .Summary }}
						</p>
					</div>
					<div class="card-footer">
						{{ with .Permalink }}<a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue
							Reading</a>{{ end }}
					</div>
				</div>
			</div>	
		{{ end }}
		{{ end }}

		</div>
		<!-- pagination -->
		{{ template "_internal/pagination.html" . }}
	</div>
</section>

{{ partial "cta.html" . }}

{{ end }}