{{ if .Site.Params.portfolio.enable }}
{{ "<!-- Portfolio Section Start -->" | safeHTML }}
<section id="works" class="works">
	<div class="container">
		<div class="section-heading mb-0"> 
			{{ with .Site.Params.portfolio.title }}<h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
		</div>	

		<div id="pastEventCarousel" class="carousel carousel slide wow fadeInLeft" data-wow-delay=".5s" data-interval="false">	
			{{ $parent_dir := slice }}
			{{ $element := where .Site.RegularPages "Type" "portfolio"}}
			{{ range $e := $element }} {{ $parent_dir = $parent_dir | append (path.Dir .) }} {{ end }}

			<!-- Image Carousel Indicators -->
			<ol class="carousel-indicators">
				{{ range $index, $dir := $parent_dir | uniq }}
                    <li data-target="#pastEventCarousel" data-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active" {{ end }}></li> 
				{{ end }}
			</ol>
			
			<!-- add cards -->
			<div class="carousel-inner">
				{{ range $i, $dir := $parent_dir | uniq }}
				<div class="carousel-item {{ if eq $i 0 }} active {{ end }}">
				<div class="section-heading">
					<p>{{ (path.Base $dir) }}</p>
					<div class="section-border mx-auto"></div>
				</div>	
				
				<div class="row">
				{{ range $index, $e := $element | uniq}}
				{{ if eq (path.Dir $e) $dir }}
					<div class="col-md-4 col-sm-6" style="display: flex;">
						{{ $delay := mul $index 300 }}
						<figure class="animated portfolio-item" style="width: 100%;">
							<div class="img-wrapper">
								<img src="{{ $e.Params.Image | relURL }}" class="img-fluid" alt="this is a title" style="max-height: 360px;">
								<div class="overlay">
									<div class="buttons">
										<a rel="gallery" class="fancybox" href="{{ $e.Params.Image | relURL }}">Poster</a>
										<a href="{{ $e.Permalink }}">Details</a>
									</div>
								</div>
							</div>
							<figcaption>
								<h4>
									<a href="{{ $e.Permalink }}">
										{{ $e.Title }}
									</a>
								</h4>
								<p>
									{{ $e.Params.caption }}
								</p>
							</figcaption>
						</figure>
					</div>
				{{ end }}
				{{ end }}
				</div>
			</div>
			{{ end }}
			</div>

			<!-- Carousel Button -->
			<a class="carousel-control-prev" style="width: 45%; align-items: baseline; height: min-content;" href="#pastEventCarousel" role="button" data-slide="prev">
				<span class="carousel-control-icon ion-ios-arrow-back" style="font-size: 50px;" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" style="width: 45%; align-items: baseline; height: min-content;" href="#pastEventCarousel" role="button" data-slide="next">
				<span class="carousel-control-icon ion-ios-arrow-forward" style="font-size: 50px;" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
	</div>
</section>
{{ "<!-- Portfolio Section End -->" | safeHTML }}
{{ end }}