[submodule "themes/IEEE-UNM-hugo-theme"]
	path = themes/IEEE-UNM-hugo-theme
	url = https://github.com/IEEE-UNM/IEEE-UNM-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
