{{ define "main" }}

{{ partial "page-title.html" . }}


{{ "<!-- About page start -->" | safeHTML }}
{{ range $index, $content := .Site.Data.about.content }}

{{ if isset . "bg_image" }}
<section class="section about-page-content" style="background-image: url('{{ .bg_image | absURL }}')">
{{ else }}
<section class="section about-page">
{{ end }}

  <div class="container">
    <div class="row justify-content-center">
		{{ if not (modBool $index 2) }}
		
			{{ "<!-- Image -->" | safeHTML }}
			<div class="col-md-4 block wow fadeInLeft" style="text-align: center;" data-wow-delay=".3s">
				{{ with .image }}<img src="{{ . | absURL }}" alt="" class="img-fluid" style="max-height: 200px;">{{ end }}
				{{ with .icon}} <i class="{{ . }} icon-box" style="font-size: 200px;"></i>{{ end }}
			</div>
		{{ end }}
		<div class="block col-md-8">
			{{ "<!-- Title -->" | safeHTML }}
			<div class="section-heading">
				{{ with .title }}<h1 class="title wow fadeInUp" data-wow-delay=".3s"
					data-wow-duration="500ms">{{ . }}</h1>{{ end }}
			</div>		
			{{ "<!-- Description -->" | safeHTML }}
			{{ with .description }}
			<p class="content-text wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
				{{ . | safeHTML }}
			</p>
			{{ end }}
			
			{{ "<!-- Bullet List -->" | safeHTML }}
			{{ with .list }}
				{{ if .enable }}
					{{ $bullet_icon := .bullet_icon}}						
					<ul style="padding: 0 10px;">
					{{ range $p := .point }}
						<li class="content-text wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
							<div class="row"> 
								<div class="column" style="display: flex;">	
									<div class="bullet"><i class="{{ $bullet_icon }} icon-box" style="font-size: 30px;"></i></div>
									<div class="list-item">{{ . | safeHTML }}</div>
								</div>
							</div>
						</li>	
					{{ end }}
					</ul>
				{{ end }}
			{{ end }}

			{{ "<!-- Button -->" | safeHTML }}
			{{ with .button }}
				{{ if .enable }}
					<a href="{{ .link | absURL }}" class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right">
					{{ .label }}
					</a>
				{{ end }}
			{{ end }}

		</div>	
		{{ if (modBool $index 2) }}
			<div class="col-md-4 block wow fadeInLeft" style="text-align: center;" data-wow-delay=".3s">
				{{ with .image }}<img src="{{ . | absURL }}" alt="" class="img-fluid" style="max-height: 200px;">{{ end }}
				{{ with .icon}} <i class="{{ . }} icon-box" style="font-size: 200px;"></i>{{ end }}
			</div>
		{{ end }}


      </div>
    </div>
  </div>
</section>
{{ end }}


{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
	<div class="container-fluid">
		<div class="row">
			{{ range $index, $element := .Site.Data.about.aboutItem }}
			<div class="col-lg-4 px-0">
				{{ $class := add $index 1 }}
				<div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
					{{ with .title }}<h2>{{ . }}</h2>{{ end }}
					{{ with .description }}<p>{{ . }}</p>{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "team.html" . }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}